<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>To-do list</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
</head>

<body ng-app="todo">
    <ng-view></ng-view>

    <script type="text/ng-template" id="index.html">
        <section id="todoapp">
            <header id="header">
                <h1>To-do list</h1>
                <form id="todo-form" ng-submit="addTodo()">
                    <input id="new-todo" ng-blur="addTodo()" maxlength="30" placeholder="Add task" ng-model="newTodo" autofocus>
                </form>
            </header>
            <section id="main">
                <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
                <ul ui-sortable ng-model="todos" id="todo-list">
                    <li ng-repeat="todo in todos | filter: search | filter: statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                        <div class="view">
                            <input class="toggle" type="checkbox" ng-model="todo.completed">
                            <label>{{todo.title}}</label>
                            <button class="action destroyButton" ng-click="removeTodo(todo)"></button>
                            <button class="action editButton" ng-click="editTodo(todo)"></button>
                        </div>
                        <form ng-submit="saveEdits(todo)">
                            <input class="edit" ng-blur="saveEdits(todo)" ng-trim="false" ng-model="todo.title">
                        </form>
                    </li>
                </ul>
            </section>
            <footer id="footer">
                <ul id="filters">
                    <input id="search" type="text" maxlength="30" placeholder="search" ng-model="search">
                    <button ng-class="{active : activeMenu===1}" ng-click="filter(all,1)">All</button>
                    <button ng-class="{active : activeMenu===2}" ng-click="filter(true,2)">Complete</button>
                    <button ng-class="{active : activeMenu===3}" ng-click="filter(false,3)">Incomplete</button>
                </ul>
                <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Delete selected</button>
            </footer>
        </section>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="storage.js"></script>
</body>

</html>